.bg-img {
  min-height: 90vh;
  vertical-align: middle;
  background: #d4d4d4;
}

.heading {
  height: 30vh;
  background: #d4d4d4;
  text-align: center;
  padding-top: 10vh;
  font-size: 3rem;
  font-weight: bolder;
}
