$primaryColor: #f8f8f6;
$secondaryColor: #0a677e;
$color3: #70b3b9;
$color4: #054555;
$color5: #bbe0e8;

body {
  background-color: $primaryColor;
  color: $secondaryColor;
}

#hompic1 {
  max-width: 100%;
  height: auto;
}

#hompic2 {
  max-width: 100%;
  height: auto;
}

#hompic3 {
  max-width: 100%;
  height: auto;
}

.bg-img {
  min-height: 95vh;
  vertical-align: middle;
  background: $color5;
  background-image: url("./Views/Home/images/cover2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-img h1 {
  padding-top: 25vh;
  font-size: 7rem;
  font-weight: bolder;
  letter-spacing: 2.5px;
}

.bg-light {
  background-color: $primaryColor !important;
}

.home h2 {
  font-size: 32px;
  font-weight: bold;
  color: $color3;
  margin-bottom: 16px;
}

// .para-title:after {
//   content: "";
//   position: absolute;
//   width: 90%;
//   height: 1px;
//   bottom: 0;
//   left: 5%;
//   border-bottom: 1px solid $color4;
// }
.photo {
  height: auto;
  width: 90%;
}
.home p {
  color: #000;
  letter-spacing: 1.25px;
  font-size: 16px;
}
.home-events {
  padding: 25px;
  background-color: $color5;
}
.home-events h2 {
  color: $color3;
}

.home-events a {
  background-color: $color3;
  color: #054555;
  font-weight: bold;
  border-radius: 25px;
  padding: 8px 25px;
  &:hover {
    // background: #71b2b6;
    color: #fff !important;
  }
}

.heading {
  height: 30vh;
  background: $color4;
  text-align: center;
  padding-top: 10vh;
  font-size: 3rem;
  font-weight: bolder;
  color: $primaryColor;
}

.team-headings {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 25pt;
}

.event-cards .card {
  background-color: $color5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.event-cards .card-title {
  color: $primaryColor;
  color: #054555;
  //   text-shadow: 1px 1px $secondaryColor;
  font-weight: bold;
  font-size: 32px !important;
}
.event-cards .card-body {
  color: #000000;
  letter-spacing: 1.25px;
  padding: 25px;
}

.about-us .card {
  background-color: $color5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.about-us .card-text {
  // background-color: $secondaryColor;
  color: #000000 !important;
  letter-spacing: 1.25px;
  padding: 10px 25px;
}

.about-us .card-header h3 {
  // color: $primaryColor;
  color: #054555;
  //   text-shadow: 1px 1px $secondaryColor;
  font-weight: bold !important;
  font-size: 32px !important;
}

.carousel {
  width: 60vw;

  height: 70vh;
  margin: auto;
  margin-bottom: 50px;
}

.carousel-img {
  width: 60vw;
  height: 100%;
  min-height: 50vh;
}

@media screen and (max-width: 768px) {
  .carousel {
    width: 80vw;

    height: auto;
    margin: auto;
    min-height: 80vh;
    margin-bottom: 50px;
  }

  .carousel-caption {
    position: relative;
    right: 0%;
    padding-top: 15% !important;
    left: 0%;
    z-index: 10;
    padding: 20px;
    color: #fff;
    height: 100%;
    text-align: center;
    // width: 70%;
  }

  .carousel-img {
    position: absolute;
    width: auto;
    height: 90vh;
    // min-height: 80vh;
  }
}

.contact-form {
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  // background-color: $secondaryColor;
  background-color: #bbe0e8;
  color: #054555;
}

::placeholder {
  color: #054555 !important;
}

input {
  background-color: #fff;
  // color: #054555;
}

.footer {
  width: 100%;
  min-height: 20vh;
  // background-color: $secondaryColor;
  background-color: $color3;
  color: black;
}
.footer a {
  text-decoration: none !important;
  color: #464866;
  margin: 15px;
}
.footer-title {
  font-size: 24px;
  margin-bottom: 25px;
  color: #25274d;
  font-weight: bold;
  margin-right: 10px;
}
.footer i {
  font-size: 32px;
}

#footer-icons {
  // margin-left: 5px;
  margin-right: 4px;
}

.base {
  background-color: #464866;
}

// .carousel
